{{!formulario para agfregar producto}}
<form action="/api/products" method="POST" enctype="multipart/form-data">
  <input type="text" name="title" placeholder="Nombre del producto" required />

  <textarea name="description" placeholder="Descripción" required></textarea>

  <input type="text" name="code" placeholder="Código único" required />

  <input type="number" name="price" placeholder="Precio" step="0.01" required />

  <select name="status" required>
    <option value="true" selected>Activo</option>
    <option value="false">Inactivo</option>
  </select>

  <input
    type="number"
    name="stock"
    placeholder="Stock disponible"
    min="0"
    required
  />

  <input type="text" name="category" placeholder="Categoría" required />

  <input type="file" name="imagen" accept="image/*" />

  <button type="submit">Crear Producto</button>
</form>