


{{!formulario para agfregar producto}}
<form action="/api/products" method="POST" enctype="multipart/form-data">
  <input type="text" name="title" placeholder="Nombre del producto" required />

  <textarea name="description" placeholder="Descripci贸n" required></textarea>

  <input type="text" name="code" placeholder="C贸digo 煤nico" required />

  <input type="number" name="price" placeholder="Precio" step="0.01" required />

  <select name="status" required>
    <option value="true" selected>Activo</option>
    <option value="false">Inactivo</option>
  </select>

  <input
    type="number"
    name="stock"
    placeholder="Stock disponible"
    min="0"
    required
  />

  <input type="text" name="category" placeholder="Categor铆a" required />

  <div class="file-input-wrapper">
  <input type="file" id="imageInput" name="thumbnails" hidden>
  <label for="imageInput" class="custom-file-label"> Elegir imagen</label>
  <span id="fileName">No se eligi贸 ning煤n archivo</span>
</div>

  <button type="submit">Crear Producto</button>
</form>

<style>
  
</style>

<script>
document.getElementById("imageInput").addEventListener("change", e => {
  const fileName = e.target.files.length > 0 ? e.target.files[0].name : "No se eligi贸 ning煤n archivo";
  document.getElementById("fileName").textContent = fileName;
});
</script>
