<header class="site-header">
  <div class="logo">
    <a href="/">
      <img src="/uploads/logo.png" alt="King Llantas" width="40" height="40" />
         KING LLANTAS </a>
  </div>

  <nav class="main-nav">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/api/products/view">Productos</a></li>
      <li><a href="/empresa/view">Nosotros</a></li>
      <li><a href="/api/carts/{{cartId}}/view">Carrito</a></li>
      <li><a href="/realtimeproducts">Gestión</a></li>
      <li><a href="/register/view">Administrar</a></li>
    </ul>
  </nav>

  <link rel="stylesheet" href="/static/css/navbar.css" />
</header>
