<header class="site-header">
  <div class="logo">
    <a href="/">MiLogo</a>
  </div>

  <nav class="main-nav">
    <ul>
      <li><a href="/">Inicio</a></li>
     <li><a href="/api/products/view">Productos</a></li>
      <li><a href="/about">Nosotros</a></li>
      <li><a href="/realtimeproducts">Quitar-Agregar-Producto</a></li>
    </ul>
  </nav>
  <link rel="stylesheet" href="/static/css/navbar.css">
</header>
